html, body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans';
}

.content {
  margin: 4px;
}

img {
  max-width: 100%;
}

.item {
  display: inline-block;
  vertical-align: top;
  margin: 4px;
}

.mapwrapper {
  display: block;
  height: 700px;
}

.map {
  width: 100%;
  padding-bottom: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.zone {
  display: block;
  position: absolute;
  background: rgba(100, 100, 100, 0.4);
}

.header {
  background: #ffd100;
  color: #000;
  font-family: 'Pacifico';
  margin-top: -21px;
}

.center {
  text-align: center;
}

button {
  border: solid 1px #777;
  background: #fff;
  color: #333;
  cursor: pointer;
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  font-size: 14px;
}

.petContainer {
	display: inline-block;
	margin: 10px;
	text-align: center;
}
.petContainer img {
	max-height: 250px;
	display: block;
}

#chosenPet {
	display: block;
	max-width: 250px;
}

