img {
  max-width: 100%;
}

.item {
  display: inline-block;
  vertical-align: top;
  margin: 4px;
}

.mapwrapper {
  display: block;
  height: 700px;
}

.map {
  width: 100%;
  padding-bottom: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.zone {
  display: block;
  position: absolute;
}

.petContainer {
	display: inline-block;
	margin: 10px;
	text-align: center;
}
.petContainer img {
	max-height: 250px;
	display: block;
}

#chosenPet {
	display: block;
	max-width: 250px;
}
