<div ng-if="!loggedIn">
	<center>
	<p>Welcome to Hacker Pets!</p>
</br>

	<button class="btn btn-large bn-primary" ng-click="signUp()">Sign Up</button>
	<button class="btn btn-large bn-primary" ng-click="signIn()">Sign In</button>

	<p></br> © 2015</p>
</center>
</div>
<div ng-if="loggedIn">
	<center>
	<a href="#/map/0" class="homepage_gallery">
		<img src="img/maps/world.jpg" alt="World">
		<span>Explore the world</span>
	</a>
	<a href="#/pets" class="homepage_gallery">
		<img src="img/pets/roccoli.png" alt="Roccoli">
		<span>My pets</span>
	</a>
	<button ng-click="userProfile()">My profile</button>
	<button ng-click="signOff()">Sign Off</button>
</center>
</div>
