<div id="game">
	<div id="top" class="row">Slot Machine</div>
	<div id="middle" class="row">
		<div id="left" class="column"></div>
		<div id="spinner1" class="column spinner">
			<div class="banana slot"></div>
			<div class="cherry slot"></div>
			<div class="plum slot"></div>
			<div class="orange slot"></div>
			<div class="kiwi slot"></div>
			<div class="banana slot"></div>
			<div class="cherry slot"></div>
			<div class="plum slot"></div>
		</div>
		<div id="spinner2" class="column spinner">
			<div class="plum slot"></div>
			<div class="orange slot"></div>
			<div class="cherry slot"></div>
			<div class="kiwi slot"></div>
			<div class="banana slot"></div>
			<div class="plum slot"></div>
			<div class="orange slot"></div>
			<div class="cherry slot"></div>
		</div>
		<div id="spinner3" class="column spinner">
			<div class="kiwi slot"></div>
			<div class="plum slot"></div>
			<div class="banana slot"></div>
			<div class="cherry slot"></div>
			<div class="orange slot"></div>
			<div class="kiwi slot"></div>
			<div class="plum slot"></div>
			<div class="banana slot"></div>
		</div>
		<div id="right" class="column"></div>
	</div>
	<div id="bottom" class="row">
		<div id="stop" ng-click="stopOrRestart()">{{ current < 4 ? "Stop" : "Restart" }}</div>
	</div>
</div>

